@using Covid19ManagmentSystem.Web.Models
@model Covid19ManagmentSystem.Web.Models.Person

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Person</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="createForm" asp-action="Create" method="post" onsubmit="return validateDates()">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Patient ID</label>
                <input asp-for="PersonId" class="form-control" />
                <span asp-validation-for="PersonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">First name</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Last name</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Patient birth-date</label>
                <input id="BirthDate" asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
                <span class="text-danger"  id="errorMessage" style="display: none;"></span>
            </div>
          
            <div class="form-group">
                <label class="control-label">Mobile phone</label>
                <input asp-for="PrivatePhone" class="form-control" />
                <span asp-validation-for="PrivatePhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Additional phone number</label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Street" class="control-label"></label>
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label class="control-label">Street number</label>
                <input asp-for="streetNumber" class="form-control" />
                <span asp-validation-for="streetNumber" class="text-danger"></span>
            </div>


            <div>
            <table id="ExpTable" class="table">
                <thead>
                    <tr>
                        <th>
                            Vaccine type
                        </th>
                        <th>
                            Date
                        </th>
                        <th>
                                <button id="btnadd" type="button" class="btn btn-sm btn alert-secondary visible"
                                        onclick="AddItem(this)">
                                    Add
                                </button>
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @for( int i =0; i<Model.Vaccinations.Count; i++)
                    {
                        <tr>
                            <td>
                                    <select asp-for="@Model.Vaccinations[i].Type" class="form-control" asp-items="Html.GetEnumSelectList<VaccineType>()" style="width: 100%;">
                                        <option value="default" selected>Choose out of following options</option>
                                    </select>
                            </td>
                            <td>
                                <input asp-for="@Model.Vaccinations[i].Date" class="form-control" />
                            </td>
                            <td>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            
                <table id="ExpStatusTable" class="table" >
                    <thead>
                        <tr>
                            <th>
                               start date
                            </th>
                            <th>
                                recovery date
                            </th>
                            <th>
                                <button id="btnaddstatus" type="button" class="btn btn-sm btn alert-secondary visible"
                                        onclick="AddItem(this)">
                                    Add
                                </button>
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.CovidStatuses.Count; i++)
                        {
                            <tr>
                                <td>
                                     <input asp-for="@Model.CovidStatuses[i].StartDate" class="form-control" />            
                                </td>
                                <td>
                                    <input asp-for="@Model.CovidStatuses[i].RecoveryDate" class="form-control" />
                                </td>
                                <td>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>

        function validateDates() {

            var birthDate = new Date(document.getElementById("BirthDate").value);
            var covidStatusRows = document.querySelectorAll("#ExpStatusTable tbody tr");
            var vaccinationRows = document.querySelectorAll("#ExpTable tbody tr");
            var currentDate = new Date();

            if (birthDate > currentDate) {
                alert("Patient birth-date cannot be in the future.");
                return false; // Prevent form submission
            }

            for (var i = 0; i < covidStatusRows.length; i++) {
                var startDateInput = covidStatusRows[i].querySelector("input[name$='.StartDate']");
                var recoveryDateInput = covidStatusRows[i].querySelector("input[name$='.RecoveryDate']");

                var startDate = new Date(startDateInput.value);
                var recoveryDate = new Date(recoveryDateInput.value);
                if (recoveryDate > currentDate || startDate > currentDate) {
                    alert("Covid positive/negetive dates cannot be in the future.");
                    return false; // Prevent form submission
                }
                if (recoveryDate <= startDate) {
                    alert("Recovery date must be after start date.");
                    return false; // Prevent form submission
                }
            }

            for (var i = 0; i < vaccinationRows.length; i++) {
                var dateInput = vaccinationRows[i].querySelector("input[name$='.Date']");
                var optionInput = vaccinationRows[i].querySelector("input[name$='.Type']");
                var date = new Date(dateInput.value);

                if (date > currentDate) {
                    alert("Vaccination date cannot be in the future.");
                    return false; // Prevent form submission
                }

            }

            // If all validations pass, allow form submission
            return true;
        }


        function AddItem(btn) {
            var table = document.getElementById('ExpTable');// we gave the table an id
            if (btn.id == 'btnaddstatus')
                table = document.getElementById('ExpStatusTable');
            else
                table = document.getElementById('ExpTable');

            var rows = table.getElementsByTagName('tr'); //we get the rows of the table

            if (rows.length - 1 != 4 || btn.id == 'btnaddstatus') //start from 1
            {
                var rowOuterHtml = rows[rows.length - 1].outerHTML; //the last row, but we are clonign last row, whci gives them all same id-PROBLEM!

                // teh follwing lines save the solution
                var lastrowIdx = rows.length - 2
                var nextrowIdx = eval(lastrowIdx) + 1;// incrementing the index so that it won't stay by the last row

                // rowouterHtml holds the source of the last row of the table
                // so we are replacing the old index with the new index
                rowOuterHtml = rowOuterHtml.replaceAll('' + lastrowIdx + '', '' + nextrowIdx + '');
                rowOuterHtml = rowOuterHtml.replaceAll('[' + lastrowIdx + ']', '[' + nextrowIdx + ']');
                rowOuterHtml = rowOuterHtml.replaceAll('-' + lastrowIdx, '-' + nextrowIdx);

                // then we attach the new row to the table
                var newRow = table.insertRow();
                newRow.innerHTML = rowOuterHtml;
                var x = document.getElementsByTagName("input");

                for (var cnt = 0; cnt < x.length; cnt++) {
                    if (x[cnt].type == "text" && x[cnt].id.indexOf('' + nextRowIdx + '') > 0)// check if it is a textcontorl
                        x[cnt].value = ' ';
                    else if (x[cnt].type == "number" && x[cnt].id.indexOf('' + nextrowIdx + '') > 0)// check if it is a textcontorl
                        x[cnt].value = ' ';
                }
            }
        }

    </script>
}


    
